@model Brand

<h2>Удалить бренд</h2>

<h4>Вы уверены, что хотите удалить бренд "@Model.Name"?</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
